<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Inedo.SDK" version="1.9.0-ci.37" targetFramework="net452" />
  <package id="Inedo.UPack" version="1.0.8" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="System.DirectoryServices" version="4.7.0" targetFramework="net452" />
  <package id="System.DirectoryServices.Protocols" version="5.0.0-preview.7.20364.11" targetFramework="net452" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net452" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net452" />
</packages>